aside {
    flex: 1;
    display: block;
    background-color: #181f248c;
    border: 3px solid #4b29aa4f;
    padding: 30px;
}

#name-nickname {
    background: #031d241e;
    border: 5px dashed #083b2a8c;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin-bottom: 2.2%;
}

#name-nickname h1 {
    font-size: 2vw;
}

#name-nickname h2 {
    color: #cfcfcf;
    font-size: 1.25vw;
}

#boss-description {
    color: #ecebeb;
    font-family: "Montserrat", "Century Gothic", "Roboto";
    font-weight: 500;
    padding: 5%;
    line-height: 1.7vw;
    text-align: center;
    font-size: 1.2vw;
}

#iframe-container{
    position: relative;
    width: 99%;
    margin-top: 1vw;
    padding-bottom: 56.25%;
}

#iframe-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

@media(max-width: 1360px) {
    #name-nickname h1 {
        font-size: 2.5em;
    }
    
    #name-nickname h2 {
        color: #cfcfcf;
        font-size: 1em;
    }

    #boss-description {
        font-size: 2vw;
    }
}

@media(max-width: 800px) {
    #boss-description {
        font-size: 4vw;
    }
}