#center-container {
    width: 100vw;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    font-family: "Roboto", "Century Gothic", "Arial";
    color: #f0efef;
}

section {
    flex: 2;
    display: block;
    background-color: #181f24d5;
    padding: 25px;
    border: 3px solid #4b29aa4f;
}

aside {
    flex: 1;
    background-color: #181f24d5;
    padding: 25px;
    border: 3px solid #4b29aa4f;
}

#inner-section {
    perspective: 100vw;
    width: 100%;
    margin: auto;
    perspective-origin: center 30vh;
}

#cube {
    margin: 10% 11vw;
    width: 38vw;
    height: 38vw;
    position: relative;
    /* transition: all 3s; */
    transform-style: preserve-3d;
}

#cube:hover {
    transform: rotateY(360deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
}

#one {
    background-color: #0c202e48;
    background-image: url("../src/bosses/gwyn.png");
    background-size: cover;
    transform: translateZ(19vw);
}

#two {
    background-color: #0c202e48;
    background-image: url("../src/bosses/nito.png");
    background-size: cover;
    transform: rotateY(90deg) translateZ(19vw);
}

#three {
    background-color: #0c202e48;
    background-image: url("../src/bosses/izalith.jpg"); /* Change later */
    background-size: cover;
    transform: rotateY(90deg) translateZ(-19vw);
}

#four {
    background-color: #0c202e48;
    background-image: url("../src/bosses/seath.jpg"); /* Change later */
    background-size: cover;
    transform: translateZ(-19vw);
}

article {
    display: flex;
    overflow: hidden;
    margin-top: 21vh;
    width: 100%;
    background: #081f2fbc;
}

#inner-article {
    display: block;
    /* background: purple; */
    width: 60%;;
    margin: auto;
}

.boss-icon {
    width: 20%;
    height: auto;
    margin: 0 2%;
}


@media(max-width: 700px) {
    .boss-icon {
        width: 40%;
    }
}

@media(max-width: 1360px) {
    #center-container {
        display: block;
    }

    #inner-section {
        perspective-origin: center 15vh;
    }

    #cube {
        margin: 12% 23%;
        width: 45vw;
        height: 45vw;
    }

    #one {
        transform: translateZ(22.5vw);
    }

    #two {
        transform: rotateY(90deg) translateZ(22.5vw);
    }

    #three {
        transform: rotateY(90deg) translateZ(-22.5vw);
    }
    
    #four {
        transform: translateZ(-22.5vw);
    }
}
