/* CSS3 document */

footer {
    width: 100vw;
    max-width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #212527;
    margin-top: -100px;
}

#inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

#footer-logo {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
    margin-left: -20%;
}

#footer-logo img {
    width: 80%;
    height: auto;
    margin-top: -35px;
    transition: 1.5s ease-out;
    user-select: none;
}

#footer-logo img:hover {
    transform: scale(1.05);
}

.footer-third {
    width: calc(21% - 20px);
    height: 100%;
    margin-right: 30px;
    float: left;
}

.footer-third:last-child {
    margin-right: 0;
}

.footer-third h1 {
    font-family: "Century Gothic", "Roboto", "Arial";
    font-size: 25px;
    color: #f0efef;
    display: inline-block;
    position: relative;
    width: 103.5%;
    margin-bottom: 20px;
}

.footer-third h1::before {
    content: '';
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f0efef;
    transform-origin: bottom right;
    transition: transform 0.45s ease-in-out;
}

.footer-third h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#darksouls-copyright::before {
    width: 59%;
}

#need-help::before {
    width: 65%;
}

#more-lore::before {
    width: 85%;
}

#follow-me::before {
    width: 57%;
}

.footer-third a {
    font-family: "Century Gothic", "Roboto", "Arial";
    font-size: 18px;
    color: #c7c7c7;
    display: block;
    font-weight: 200;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    transition-duration: 0.5s;
}

.footer-third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.footer-third li a{
    font-size: 225%;
    color: #c7c7c7;
    transition-duration: 0.5s;
}

.footer-third li a:hover {
    color: #f0efef;
    transform: scale(1.25);
}

.footer-third a:hover {
    color: #f0efef;
    transform: translateX(1vw) scale(1.2);
}

.footer-third span {
    color: #c7c7c7;
    font-family: "arial";
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 5px;
}

@media(max-width: 1045px) {
    #inner-footer {
        width: 90%;
    }

    #footer-logo, .footer-third {
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .footer-third a:hover {
        color: #f0efef;
        transform: translateX(8.5vw) scale(1.2);
    }
}