/* CSS3 document */

header {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    background-color: #212527;
    box-sizing: border-box;
}

#inner-header {
    width: fit-content;
    height: 100%;
    margin: 0 6vw;
}

#inner-header img {
    height: 80px;
    width: auto;
    float: left;
    user-select: none;
}

#header-logo {
    height: 100%;
    display: table;
    float: left;
}

#header-logo h1 {
    color: #f0efef;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Roboto", "Century Gothic", "Arial";
    font-weight: lighter;
    font-size: 32px;
    user-select: none;
}

#header-logo h1 span {
    font-weight: 1000;
}

nav {
    background: linear-gradient(to left, #141618, #24282c);
    overflow: hidden;
    max-width: 100%;
    width: 100vw;
}

#inner-nav {
    margin-left: calc(98vw - 100px);
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
}

#change-game {
    cursor: pointer;
    height: 90px;
    width: auto;
    transition: transform 0.1s;
}

#change-game:active {
    transform: scale(0.90);
}
