/* CSS3 document */

@font-face {
    src: url(../src/fonts/Roboto-Regular.ttf);
    font-family: Roboto;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    background-color: #11181b;
    /*
    background-image: url("https://64.media.tumblr.com/d70ebe50ad456874e96594190c89ae09/tumblr_nwsgtr9Hw11tgzy56o1_640.gifv");
    background-size: cover;
    background-position: center;
    Waiting for and answer
    */
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}
