section {
    flex: 2;
    display: block;
    background-color: #181f24d5;
    border: 3px solid #4b29aa4f;
    padding: 25px;
}

#inner-section {
    perspective: 100vw;
    width: 100%;
    margin: auto;
    perspective-origin: center 30vh;
}

#cube {
    margin: 10% 11vw;
    width: 38vw;
    height: 38vw;
    position: relative;
    transition: all 2.5s;
    transform-style: preserve-3d;
}

#cube:hover {
    transform: rotateY(270deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5vw;
    user-select: none;
}

#one {
    background-image: url("../src/bosses/nito.jpg");
    background-size: cover;
    transform: translateZ(19vw);
}

#two {
    background-image: url("../src/bosses/seath.jpg");
    background-size: cover;
    transform: rotateY(90deg) translateZ(19vw);
}

#three {
    background-image: url("../src/bosses/izalith.jpg");
    background-size: cover;
    transform: rotateY(90deg) translateZ(-19vw);
}

#four {
    background-image: url("../src/bosses/gwyn.jpg");
    background-size: cover;
    transform: translateZ(-19vw);
}

article {
    display: flex;
    overflow: hidden;
    margin-top: 21vh;
    width: 100%;
}

#inner-article {
    display: block;
    width: 60%;;
    margin: auto;
}

.boss-icon {
    width: 19%;
    height: auto;
    margin: 0 2%;
    border-radius: 40%;
    border: 2px solid #21082f85;
    transition: transform 0.1s;
    user-select: none;
    cursor: pointer;
}

.boss-icon:active {
    transform: scale(0.90);
}


@media(max-width: 800px) {
    article {
        margin-top: 22vw;
    }

    .boss-icon {
        width: 40%;
    }
}

@media(max-width: 1360px) {
    #center-container {
        display: block;
    }

    #inner-section {
        perspective-origin: center 15vh;
    }

    #cube {
        margin: 12% 23%;
        width: 45vw;
        height: 45vw;
    }

    #one {
        transform: translateZ(22.5vw);
    }

    #two {
        transform: rotateY(90deg) translateZ(22.5vw);
    }

    #three {
        transform: rotateY(90deg) translateZ(-22.5vw);
    }
    
    #four {
        transform: translateZ(-22.5vw);
    }
}